@mixin boxShadow($parameters) {

  @if $parameters == 'none' {
    -webkit-box-shadow: nth($parameters, 1);
    -moz-box-shadow: nth($parameters, 1);
    box-shadow: nth($parameters, 1);
  } @else {
    -webkit-box-shadow: nth($parameters, 1) nth($parameters, 2) nth($parameters, 3) nth($parameters, 4);
    -moz-box-shadow: nth($parameters, 1) nth($parameters, 2) nth($parameters, 3) nth($parameters, 4);
    box-shadow: nth($parameters, 1) nth($parameters, 2) nth($parameters, 3) nth($parameters, 4);
  }

}