<div class="login-container" fxLayout="row" fxLayoutAlign="start center">
  <div class="login-box" fxFlex="345px" fxFlexOffset="8vw">
    <form (submit)="login()">

      <md-input-container class="login-full-width">
        <input md-input placeholder="Email" [(ngModel)]="loginData.email" name="email" type="email" (ngModelChange)="clearError()">
      </md-input-container>

      <md-input-container class="login-full-width">
        <input md-input placeholder="Password" [(ngModel)]="loginData.password" name="password" type="password" (ngModelChange)="clearError()">
      </md-input-container>

      <div class="error">
        {{errorMsg}}
      </div>

      <button md-raised-button color="primary" type="submit">Sign In</button>

    </form>
  </div>
</div>