<!--<md-list>
  <h3 md-subheader>Users</h3>
  <md-list-item *ngFor="let user of users">
    <md-icon md-list-avatar>note</md-icon>
    <h4 md-line>{{user.email}}</h4>
  </md-list-item>
</md-list>-->

<div class="widgets">

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <ba-card title="Users" baCardClass="with-scroll table-panel">
        <div class="horizontal-scroll">
          <div class="button-wrapper">
            <button type="button" class="btn btn-default" (click)="newPost()">Add new</button>
            <button type="button" class="btn btn-default" (click)="newPost()">Edit</button>
            <button type="button" class="btn btn-default" (click)="newPost()">Delete</button>
          </div>

          <table class="table table-bordered">
            <thead>
            <tr>
              <th></th>
              <th class="text-center">#</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users; let i = index">
              <td></td>
              <td class="text-center">{{i + 1}}</td>
              <td>{{user.email}}</td>
              <td><a href="#" (click)="editPost(item._id, $event)"><i class="ion-edit"></i></a> <a href="#" (click)="moveToTrash(item._id, $event)"><i class="ion-trash-a"></i></a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </ba-card>
    </div>
  </div>

</div>