<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <!--<a routerLink="/" class="al-logo clearfix">Plan<span>B</span><sup>cloud</sup></a>-->
  <a routerLink="/" class="al-logo clearfix">
    Digital<strong>Dash</strong>
  </a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

  <!--<div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>-->

  <div class="user-profile clearfix col-4">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img src="/assets/img/placeholder-user.png">
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><a href class="signout" (click)="logout($event)"><i class="fa fa-power-off"></i>Wyloguj</a></li>
      </ul>
    </div>
  </div>
</div>
