<header>
    <button md-button (click)="newPost()">Add new</button>
</header>

<md-list class="posts">
    <h3 md-subheader>{{templateConfig.title}}</h3>
    <div class="loading" [hidden]="!loading">
        <md-spinner></md-spinner>
    </div>
    <md-list-item *ngFor="let item of items" class="post">
        <md-icon md-list-avatar>{{templateConfig.icon}}</md-icon>
        <h4 md-line><a href="#" (click)="editPost(item._id, $event)">{{item.title}}</a></h4>
        <p md-line class="options"><a href="#" (click)="editPost(item._id, $event)">Edit</a> | <a href="#" (click)="moveToTrash(item._id, $event)">Move to trash</a></p>
    </md-list-item>
</md-list>

<!--
<div id="dialog-form" title="Create new user">
    <p class="validateTips">All form fields are required.</p>

    <form>
        <fieldset>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">

            &lt;!&ndash; Allow form submission with keyboard without duplicating the dialog button &ndash;&gt;
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>-->
