<div id="admin" fxFill>
    <md-toolbar color="primary">
        <span>Mongo, ExpressJS, Anular 2, NodeJS - Starter Pack</span>
        <span class="spacer"></span>

        <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item routerLink="/">
                <md-icon>home</md-icon>
                <span>Home page</span>
            </button>
            <button md-menu-item (click)="logout()">
                <md-icon>power_settings_new</md-icon>
                <span>Logout</span>
            </button>
        </md-menu>
    </md-toolbar>

    <div class="flex-container" fxLayout="row" fxFill>
        <div class="sidenav" fxFlex="345px">
            <nav>
                <ul>
                    <li><a routerLink="/admin/dashboard">Dashboard</a></li>
                    <li><a routerLink="/admin/posts">Posts</a></li>
                    <li><a routerLink="/admin/users">Users</a></li>
                </ul>
            </nav>

        </div>
        <div class="content flex-item" fxFlex>
            <router-outlet></router-outlet>
            <app-loading-indicator></app-loading-indicator>
        </div>
    </div>


</div>
