@import "../../shared/styles/_main.scss";

#admin {
  height: 100%;
  background-color: $cPaleGray;
  padding-top: em(65);

  md-toolbar {
    @include position(fixed, 0 0 null 0);
    z-index: 99;

    .spacer {
      flex: 1 1 auto;
    }
    .icon {
      padding: 0 14px;
    }
  }

  .flex-container {
    .sidenav {
      background-color: $cWhite;

      nav {
        @include position(fixed);
        background-color: $cWhite;
        height: 100%;

        ul {
          li {
            a {
              height: em(66);
              line-height: em(66);

            }
          }
        }
      }
    }

    .content {
      @include position(relative);
    }
  }
}