.loading-indicatior-container{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  line-height: 16em;
  margin-left: 180px;

  .fa {
    $_iconSize: 40px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: $_iconSize;
    height: $_iconSize;
    font-size: $_iconSize;
  }
}